2000 PNG "images/start.png"
2001 PNG "images/plane.png"
2002 PNG "images/bg.png"
2003 PNG "images/big.png"
2004 PNG "images/small.png"
2005 PNG "images/boss.png"
2006 PNG "images/hero.png"
2007 PNG "images/pause.png"
2008 PNG "images/bullet.png"
2009 PNG "images/airwar.png"
2010 PNG "images/start_hover.png"
2011 PNG "images/restart.png"
2012 PNG "images/restart_hover.png"
2013 PNG "images/continue.png"
2014 PNG "images/continue_hover.png"
2015 PNG "images/exit.png"
2016 PNG "images/exit_hover.png"
2017 PNG "images/number.png"
2018 PNG "images/explosionSmall.png"
2019 PNG "images/explosionMiddle.png"
2020 PNG "images/explosionBig.png"